<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title></title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/style.css" />
	</head>
	<body>
		<body>
			<h1>Upload CSV or Excel Files</h1>
			<form action="/upload" method="post" enctype="multipart/form-data">
				<input
					type="file"
					name="file"
					accept=".csv,.xlsx"
					multiple
					required />
				<button type="submit">Upload</button>
			</form>
		</body>

		<script src="../static/d3.v7.min.js" async defer></script>
	</body>
</html>
